body{
    background-image: url("datacenter_bg(opacity).png");
    font-family: Microsoft JhengHei UI Light;
    font-size: 16px;
    text-align: center;
    color:#6d6d6d;
    align-content: center;
}

p{
    display: inline;
}

form{
    display: inline-block;
    border-radius: 1.5em;
    padding: 2em;
    margin-top: 2em;
    background-color: #e9e9e9;
}

label{
    float: left;
    width: 10em;
    margin-right: 1em;
}

.dropdown, .radio, .textfield{
    font-size: 100%;
}

.image{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #e9e9e9, rgba(226, 226, 226, 0.795),rgb(252, 132, 132));
    /*background-color: #e9e9e9;*/
    opacity: 50%;
    align-content: left;
}

.settings{
    padding: 20px;
}

#logo{
    float: left;
    padding: 20px;
}

#prefix{
    display: inline;
}

#title{
    margin-top: 0.5em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 200%;
}

#submitText{
    float: left;
    color: red;
    background-color: white;
}

#reset, #submit{
    background: #c94242;
    color: white;
    border-style: none;
    height: 40px;
    width:90px;
    font-family: Microsoft JhengHei UI Light;
    font-size: 100%;
    text-shadow: none;

}